.container{
    position: relative;
   margin: 100px;
}
.box{
    position: absolute;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center
}
.box:nth-child(1){
    background-color: skyblue;
    z-index: -1;
   
}
.box:nth-child(2){
    background-color: yellow;
    z-index: 2;
    top: 75px;
    left: 75px;
}
.box:nth-child(3){
    background-color: fuchsia;
    z-index: 1;
    top: 150px;
    left: 150px;
}